<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>ERROR</title>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div class="container text-center">

    <div th:insert="~{layouts/menuFragment :: menu}"></div>

    <h1>Error</h1>
    <h2>Login error</h2>
    <a th:href="@{/}" class="btn btn-primary">Go to Home</a>



</div>
</body>

</html>
